ul{
    list-style: none;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
li{
    margin: 25px;
}

a{
    text-decoration: none;
    font-size: 40px;
    color: rgb(236, 202, 51);
    font-family: fantasy;
    
    text-shadow: black 0.1em 0.1em 0.1em
    
}
