h2{
    text-align: center;
    margin: 20px;
}
.image-list{
    width: 300px;
    height: 400px;
    border-radius: 15%;
}
.main-image1{
    width: 45%;
    text-align: center;
}
.movie{
    display: flex;
    margin-top: 50px;
    text-align: center;
    justify-content: center;

}
.detail{
    margin-left: 50px;
    align-self: center;
}
.main-image{
    text-align: center;
}
.pTitle{
    font-family: fantasy;
}