.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 80px;
    
}
.footer-images{
    display: flex;
    margin: 15px;
}
img{
    width: 25px;
    margin: 10px;
}

body{
    text-align: center;
    align-items: center;
}
p{
    font-size: 20px;
}
