
<div class="aboutUs-title">
    <p class="aboutUs-font">Proyecto realizado por Sergio Navacerrada Castillo</p> 
</div>


<div class="aboutUs">
    <div class="aboutUs-images">
        <div class="contact">
            <p>LinkedIn</p>
            <a href="https://www.linkedin.com/in/Sergio-Navacerrada"
            ><img src="../../../assets/images/LinkedIn.png" alt="LinkedIn"
          /></a>
        </div>

        <div class="contact">
            <p>GitHub</p>
            <a href="https://github.com/snavcas"
            ><img src="../../../assets/images/GitHub.png" alt="GitHub"
          /></a>
        </div>

        <div class="contact">
            <p>Email: sersergionc@gmail.com</p>

        </div>

      

    </div>
  </div>

