
<div class="aboutUs-title">
    <p class="aboutUs-font">Proyecto realizado por Sergio Navacerrada Castillo</p> 

    <p>En la página "List" podrás encontrar un listado de películas, con su imagen y año de estreno. Las películas del año 2000 en adelante tienen un fondo azul mientras que las anteriores al año 2000 tienen un fondo cyan. </p>

    <p>Al acceder a cada película, se muestra el detalle de la misma, obteniendo su director, puntuación y género</p>
  
    <p>Además en el apartado "New movie", podrás añadir nuevas películas</p>

    <p>He creado una página not-found que se muestra cuando introducimos una ruta que no existe</p>

    <p>Una ruta vacía te lleva directamente a la página de home</p>
</div>


<div class="aboutUs">
    <div class="aboutUs-images">
        <div class="contact">
            <p>LinkedIn</p>
            <a href="https://www.linkedin.com/in/Sergio-Navacerrada"
            ><img src="../../../assets/images/LinkedIn.png" alt="LinkedIn"
          /></a>
        </div>

        <div class="contact">
            <p>GitHub</p>
            <a href="https://github.com/snavcas"
            ><img src="../../../assets/images/GitHub.png" alt="GitHub"
          /></a>
        </div>

        <div class="contact">
            <p>Email: sersergionc@gmail.com</p>

        </div>

      

    </div>
  </div>

